<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue CDN</title>
</head>
<body>
    <div id="app">
        <h1>{{message}}</h1>
        <p>{{getAuthor()}}</p>
        <ul>
            <li v-for="car in cars">{{car}}</li>
        </ul>

        <ul>
            <li v-for="drink in drinks">
                <div style="background-color: red;" v-if="drink.type == 'hot'">{{drink.name}}</div>
                <div style="background-color: blue;" v-else="drink.type == 'cold'">{{drink.name}}</div>
            </li>
        </ul>

    </div>
    
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="./js/app.js" ></script>
</body>
</html>
